h1
{
    color:#20639b;
    margin-left: 30px;
}
.header
{
    background-color: #F6d55c;
    display: flex;
    justify-content: space-between;
}
.text
{
    color: #173f5f;
}
.grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: large;
    color: #ed553b;
}
.footer
{
    display: flex;
    justify-content: flex-end;
    background-color: #173f5f;
}
h2,p
{
    text-align: center;
}
body
{
    background-color: #3caead;
}
h2
{
    color: #F6d55c;
}

a:link
{
    color: red;
}

a:visited
{
    color: black;
}

.menu
{
    margin-right: 30px;
    margin-top: 25px;
}

.menu a
{
    margin-left: 20px;
}

.item
{
    position: relative;
}

.item p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p
{
    opacity: 1;
}

.item:hover img
{
    opacity: 0.33;
}